body {
    margin: 0;
    padding: 0;
    background-color: var(--minor-bg);
    width: 100%;
    height: 3000px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}
*::selection {
    background-color: transparent;
    color: #000;
}
.special-heading {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid var(--color);
    width: fit-content;
    margin: auto;
    letter-spacing: 3px;
    position: relative;
    padding-bottom: 15px;
}
.special-heading:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    z-index: 2;
    -o-border-radius: 50%;
    left: calc(50% - 10px);
    bottom: -10px;
    background-color: var(--color);
}
.top-btn{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color);
    border-radius: 50%;
    border: none;
    opacity: 0.5;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-btn:hover{
    opacity: 1;
    cursor: pointer;
}
.top-btn i{
    font-size: 200%;
    background-color: transparent;
}
.btn {
    background-color: var(--color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 10px 15px;
    outline: none !important;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
section {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* Start global variables */
:root {
    --main-bg: #082032;
    --secondary-bg: #2C394B;
    --minor-bg: #334756;
    --color: #FF4C29;
    --p-color: #B0BEC5;
}
.container {
    margin: 0 auto;
}
/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container{
        width: 540px;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container{
        width: 720px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container{
        width: 960px;
    }
}
/* End global variables */

/* Start header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px;
    margin: 25px 50px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: var(--main-bg);
    position: sticky;
    top: 0px;
    z-index: 99;
}
header ul {
    list-style: none;
}
header ul li:first-child a {
    color: var(--color);
    text-decoration: underline;
}
header ul li{
    display: inline-block;
    padding: 0 10px;
    letter-spacing: 2px;
}
header ul li a {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
header ul li a:hover {
    color: var(--color);
    cursor: pointer;
    text-decoration: underline;
}
.Logo {
    background-color: var(--minor-bg);
    font-size: 150%;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    background-image: linear-gradient(90deg, var(--color), transparent);
}
.Logo a {
    text-decoration: none;
}
.Logo:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    cursor: pointer;
}
.Logo a span {
    color: var(--color);
}

.list i {
    display: none;
}
@media (max-width: 768px) {
    header{
        margin: 0;
    }
    .list {
        position: relative;
    }
    .list i {
        display: inline-block;
        color: var(--color);
    }
    .list ul{
        display: none;
        position: absolute;
        height: 190px;
        bottom: -208px;
        left: -38px;
        background-color: var(--main-bg);
        padding: 0 20px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    header ul li:hover {
        padding-left: 5px;
    }

    header:hover ul {
        display: block;
        
    }
    .list ul li {
        margin: 7px 0;
    }
}
/* End header */

/* start main section */
.main-sec .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 15px;
    height: 400px;
}
.info {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.info span {
    color: var(--color);
}
.info h2 {
    margin-bottom: 20px;
}
.info p {
    margin-bottom: 20px;
    line-height: 1.8;
    color: var(--p-color);
}
.info a {
    width: 40%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.info a:hover {
    cursor: pointer;
    color: black;
}
.info h3 {
    background-color: var(--color);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.main-sec .img {
    height: 350px;
    margin-left: 100px;
    position: relative;
}
.main-sec .img:before {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: var(--color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -20px;
    bottom: -55px;
    z-index: -1;
    animation-name: trans;
    animation-duration: 1.5s;
    -webkit-animation-name: trans;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.main-sec .img img {
    height: 100%;
    margin-top: -20px;
}
@keyframes trans {
    from {
        transform: translate(0,0);
        -webkit-transform: translate(0,0);
        -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
}
    to {
        transform: translate(0,-20px);
        -webkit-transform: translate(0,-20px);
        -moz-transform: translate(0,-20px);
        -ms-transform: translate(0,-20px);
        -o-transform: translate(0,-20px);
}
}

@media (max-width: 768px){
    .main-sec .img {
        display: none;
    }
    .info {
        text-align: center;
    }
    .info a {
        margin: 0 auto;
    }
    .info h3 {
        margin: 0 auto;
    }
}
/* End main section */

/* Start About section */
.about .container{
    background-color: var(--main-bg);
    height: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding-bottom: 50px;
}

.about .details {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    align-items: flex-start;
    height: calc(100% - 50px);
    gap: 20px;
    padding-top: 50px;
}

.about .my_img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    background-color: var(--color);
}
.about .my_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.about h3 {
    width: fit-content;
    margin: 0 auto;
    background-color: var(--color);
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 10px;
}
.detiled_info {
    line-height: 1.8;
    text-align: center;
    color: var(--p-color);
}
.Skills {
    margin: 0 auto;
}
.Skills ul{
    list-style: none;
}
.Skills ul li {
    margin-bottom: 14px;
    border-left: 2px solid var(--color);
    padding-left: 8px;
}
.Skills h3 {
    margin: 0 0 25px 0;
    padding: 11px;
}

/* End About section */

/* start services section */
.ser-sec {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--secondary-bg);
}
.ser-cont {
    text-align: center;
}
.ser-cont a:hover {
    color: black;
    cursor: pointer;
}

.ser-contain {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap:15px;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-left: 8px;
}
.ser {
    text-align: center;
    max-width: 300px;
    background-color: var(--main-bg);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 15px 0px;
    margin: 0 auto;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
@keyframes border {
    25%{
        border-top: 3px solid var(--color);
    }
    50%{
        border-right: 3px solid var(--color);
    }
    75%{
        border-bottom: 3px solid var(--color);
    }
    100%{
        border-left: 3px solid var(--color);
    }
}
.ser:hover {
    transform: translate(0,-10px);
    -webkit-transform: translate(0,-10px);
    -moz-transform: translate(0,-10px);
    -ms-transform: translate(0,-10px);
    -o-transform: translate(0,-10px);
    animation-name: border;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.ser:hover i {
    background-color: var(--color);
    color: aliceblue;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.ser i {
    color: var(--color);
    margin-bottom: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-align: center;
    width: 45px;
    height: 45px;
}
.ser h3 {
    color: var(--color);
    margin-bottom: 15px;
}
.ser p {
    line-height: 1.8;
    color: var(--p-color);
}

/* End services section */

/* start portofilo section */
.port-content{
    display: flex;
    flex-direction: column;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.port-content > div {
    background-color: #eee;
    color: black;
    height: calc((100% / 2) - 60px);
    width: calc((100% / 3));
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.port-content div img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    position: relative;
}
.port-content div img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.port-content div:nth-child(3) {
    height: 100%;
}
.port-content div:nth-child(3):hover .overlay {

}
.overlay {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    visibility: hidden;
    background-color: var(--color);
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    opacity: 0.8;
}
.port-content > div:hover .overlay {
    visibility: visible;
    width: 100%;
}
.port-content div:nth-child(3):hover .overlay {
    bottom: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

/* End portofilo section */